body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Nastaliq Urdu', 'Arial', sans-serif;
}

.urdu-text {
    direction: rtl;
    text-align: right;
}


.header, .footer {
    background-color: #004080;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.main-container {
    padding: 20px;
}

.menu {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.menu button {
    background-color: #0066cc;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.menu button:hover {
    background-color: #005bb5;
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.content-section {
    text-align: center;
}

.subject-selection button {
    background-color: #00baba;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.subject-selection button:hover {
    background-color: #007bb5;
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.question-container {
    margin-top: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question-container div {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    width: 80%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.question-container div:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.option-button {
    background-color: #fff;
    color: #333;
    border: 2px solid #ddd;
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    width: 100%;
    text-align: left;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    font-family: 'Noto Nastaliq Urdu', 'Arial', sans-serif;
}

.option-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    border-color: #00baba;
}

.option-button.correct {
    background-color: #4CAF50;
    color: white;
    border-color: #4CAF50;
}

.option-button.wrong {
    background-color: #f44336;
    color: white;
    border-color: #f44336;
}

.score-container {
    text-align: center;
    margin: 10px;
    font-size: 18px;
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: rgba(104, 101, 101, 0.61);
    backdrop-filter: blur(2px);
    border-radius: 10px;
    padding: 10px;
    color: white;
}

.correct {
    background-color: green;
    color: white;
}

.wrong {
    background-color: red;
    color: white;
}
